# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

Dependencies

node_modules/
server/node_modules/

Expo

.expo/
dist/
web-build/
expo-env.d.ts

Native

.kotilin/
.orig.
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

Metro

.metro-health-check*

Debug / logs

npm-debug.*
yarn-debug.*
yarn-error.*
*.log

macOS

.DS_Store

Environment variables

.env
.env*.local
server/.env

TypeScript

*.tsbuildinfo

Server build

server/dist/

Arduino / ESP32 build files

**/build/
**/pycache/
*.pyc