PORT=5000
NODE_ENV=development
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=women_safety_db
DB_USER=root
DB_PASSWORD=
JWT_SECRET=super_secret_jwt_key_womensafety_2026
JWT_EXPIRES_IN=7d
CLIENT_URL=*

# Firebase Admin SDK Configuration (Service Account)
FIREBASE_PROJECT_ID=your-firebase-project-id
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxxxx@your-project.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="your-firebase-private-key"
IOT_DEFAULT_DEVICE_API_KEY=your_esp32_device_api_key